* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  scroll-behavior: smooth;
}
/* body{
  position: relative;
} */
section {
  background-color: yellow;
  /* border: solid black 1px; */
}
a {
  text-decoration: none;
  color: #000;
}

/* Add a black background color to the top navigation */
.topnav {
  background: linear-gradient(green,white);
  width: 100%;
  overflow: hidden;
  /* position: fixed; */
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: rgb(73, 73, 73);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Add an active class to highlight the current page */
.topnav a.active {
  background: linear-gradient(orange,white);
  width: 120px;
  color: black;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#alert-text {
  font-size: 20px;
}
.stayStrong {
  font-size: 38px;
}

.hero {
  height: 100vh;
  width: 100;
  background-image: url(/images/background-1.jpg);
  background-size: cover;
  font-size: 40px;
  color: white;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  justify-content: space-around;
  width: 600px;
  font-size: 30px;
}
li {
  list-style-type: none;
  text-decoration: none;
}
li a{
  color: whitesmoke;
  text-decoration: none;
}
li a:hover {
  background-color: #5ca7aa;
  border-radius: 5px;
  transition: 0.5s all;
}
.hero-name{
  font-size: 80px;
}
.blog-exemple-heading{
  font-size: 50px;
}
p {
  margin-top: 30px;
  margin-bottom: 30px;
}
.hero-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
/* .hero-text {
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 150px;
} */
.button {
  width: 180px;
  height: 45px;
  border-radius: 30px;
  background-color: coral;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  /* padding-top: 7px; */
  margin-top: 10px;
}
.button a{
  text-decoration: none;
  color: aliceblue;
}
/* ABOUT ME SECION */
.about-me {
  height: 100vh;
  width: 100;
  background-image: url(/images/background-2.jpg);
  background-size: cover;
  font-size: 40px;
  /* color: rgb(78, 73, 73); */
  display: flex;
}
.theakmimg{
  height: 500px;
  width: 500px;
  text-align: center;
  /* background-color: black; */
  position: absolute;
  top: 100vh;
  right: 0;
}
.theakmimg-img{
  height: 160px;
  width: 160px;
  display: inline-block;
  vertical-align: middle;
}
.toptext2{
  /* display: flex;
  flex-direction: column;
  text-align: center; */
  font-size: 10px;
  color: rgb(78, 73, 73);
  position: absolute;
}
.about-me-text-1{
  font-family: sans-serif;
  width: 80%;
  height: 600px;
  background: rgba(0,0,0,0.8);
  color: aliceblue;
  border-radius: 20px;
  position: absolute;
  top: 110vh;
  left: 50px;
  overflow: auto;
}
.about-me-text-1 p{
  font-family: Arial, Helvetica, sans-serif;
}
.read-more {
  color: aqua;
}
/* PROJECTS SECTION */
    /* For big screens like laptop and desktop */
.subsection-alternative {
  height: 100vh;
  width: 100;
  background-color: white;
  background-size: cover;
  font-size: 40px;
  /* display: flex; */
}
.wrapper {
  display: flex;
  width: 70%;
  justify-content: space-between;
  /* added by me */
  /* margin: 9%; */
  /* margin-top: 1em; */
}
.top-text-3 {
  /* position: absolute; */
  /* top: 220vh; */
  font-size: 80px;
  color: black;
}
.card {
  width: 280px;
  height: 360px;
  margin: 30px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.card:hover{
  transform: translateY(-20px);
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}
.card:hover::before {
  opacity: 1;
}
.card .image-projects {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.card .info {
  position: relative;
  z-index: 3;
  color: black;
  opacity: 0;
  transform: translate(30px);
  transition: 0.5s all;
}
.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
#h1pro {
  margin: 0;
  overflow: hidden;
}
.card .info #ppro {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.card .info .btn-pro {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
    /* For small screens like tablet */
.wrapper-2 {
  display: flex;
  justify-content: space-around;
  /* margin: 10px; */
}
.card-2 {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(202, 202, 255);
  margin: 10px;
  color: black;
  /* display: flex; */
}
.card-2:hover {
  transform: translateY(-20px);
  transition: 0.5s all;
}
.subsection-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}
.subtext {
  font-size: 15px;
  font-weight: 300;
}
.card-2-img {
  margin-top: 25px;
  width: 280px;
  border-radius: 125px;
  /* display: flex; */
}
hr {
  margin-left: 20px;
  margin-right: 20px;
}

    /* For small screens like phone */

.phone-card {
  display: flex;
  justify-content: space-around;
  /* margin: 10px; */
}
.card-3 {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(202, 202, 255);
  margin: 10px;
  color: black;
  /* display: flex; */
}
.card-3:hover {
  transform: translateY(-20px);
  transition: 0.5s all;
}
.subsection-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}
.subtext-3 {
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}
.subtext-3 a{
  text-decoration: none;
  font-size: 25px;
}
.card-3-img {
  margin-top: 25px;
  width: 280px;
  border-radius: 125px;
  /* display: flex; */
}
hr {
  margin-left: 20px;
  margin-right: 20px;
}
.skill-bg{
  color: coral;
  /* font-size: 60px; */
}

/* back to top button */

.back-to-top{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: greenyellow;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 90vh;
  box-shadow: 5px 5px 30px;
}
.back-to-top #to-top {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 30px;
}

/* contact page */

.social-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social-menu ul li .fa {
  font-size: 30px;
  line-height: 60px;
  transition: 0.4px;
  color: #000;
}
.social-menu ul li .fa:hover {
  color: #fff;
}
.social-menu ul li a {
  /* position: relative; */
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: 0.4s;
  box-shadow: 0 5px 4px rgba(0,0,0,0.5);
}
.social-menu ul li a:hover {
  transform: translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover{
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover{
  background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover{
  background-color: #55acee;
}
.social-menu ul li:nth-child(4) a:hover{
  background-color: #0077B5;
}









@media screen and (max-width: 1223px) {
  div.theakmimg {
    display: none;
  }
}
@media (max-width: 1200px) {
  header {
    margin: 20px;
  }
}
@media (max-width: 768px) {
  ul.html-show{
    display: none;
  }
}
@media (min-width: 768px) {
  div.menu-toggle {
    display: none;
  }
}
@media screen and (max-width:1270px) {
  div.wrapper {
    display: none;
  }
}
@media screen and (min-width:1270px) {
  div.wrapper-2 {
    display: none;
  }
  .projects {
    height: 100vh;
    width: 100;
    background-color: white;
    background-size: cover;
    font-size: 40px;
    /* display: flex; */
  }
}
@media (max-width: 560px) {
  .card-2 {
    width: 300px;
    height: 450px;
    /* box-shadow: 5px 5px 20px; */
  }
}
@media screen and (max-width:935px) {
  div.wrapper-2 {
    display: none;
  }
}
@media screen and (min-width:935px) {
  div.phone-card {
    display: none;
  }
}